@import "../../base";

.adminUsers {
  background-color: $background;
  min-height: 100vh;

  .adminUsers__content {
    min-height: calc(100vh - 7em);
    color: $green;

    .back {
      padding: 1em;
    }

    .content__user {
      padding: 1em;
    }

    .content__userList {
      display: flex;

      .userList__item {
        flex-basis: 30%;
        color: $coral;
        padding: 1em;

        p {
          font-weight: normal;
        }
      }
    }
  }
}

@media (min-width: 800px) {
  .adminUsers {
    .adminUsers__content {
      .content__userList {
        .userList__item {
          flex-basis: 20%;
        }
      }
    }
  }
}
