.itemPage--content{
    width: 80vw;
    margin: 5vh;
    display: flex;
    flex-wrap: wrap;
    
    .dolor {
        padding: 15px 0;
        flex-basis: 100%;
        
        article {
            margin: 25px 0;
        }
    }
}

@media (min-width: 600px) {

    .itemPage--content{
        width: 50vw;
        flex-wrap: wrap;
    }
}