@import '../../base';

.registerPage {
    @extend .page;
    grid-template-columns: 1fr 4fr 1fr;

    .navbar {
        grid-column: 1/4;
    }

    .registerPage__registerForm {
        grid-column: 2/3;
    }

    .footer {
        align-self: end;
        grid-column: 1/4;
    }
}

@media (min-width: 600px) {
    .registerPage {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
