

    .listRadio {
        
        .listRadio__radio {
            display: flex;
            align-items: center;
            margin: 8px;
            width: fit-content;
            
            span {
                display: block;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                background-color: rgba(66, 64, 64, 0.336);
                transition: 0.5s box-shadow;
            }    
            
            p {
                margin-left: 5px;
            }
            
            &:hover {
                span {
                    box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.89);
                }
            }
        }
        
        .active {
            span {
                background-color: black;
            }
        }
    }